/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  width: 100%;
}

/* Dark Mode */
html[data-theme='dark'] {
  background-color: #121212; /* Dark background for the body */
  color: white; /* Light text color */
}

html[data-theme='dark'] body {
  background-color: #1a1a1a; /* Dark background for the body */
}

/* Light Mode */
html[data-theme='light'] {
  background-color: #ffffff; /* Light background for the body */
  color: black; /* Dark text color */
}

/* Header Styling */
h1, h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
